
.profile-container{
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  align-items: center; /* Centra verticalmente */
  justify-content: center; /* Centra orizzontalmente */
  margin-bottom: 4rem;
  margin-top: 4rem;
}

.default-class{
  font-size: 25px;
  font-weight: 600;
  color: gray;

}
.active-class{
  font-size: 25px;
  font-weight: 600;
  color: white;

}


.nome-text{
  font-size: 30px;
  font-weight: 600;
  color: white;
}

.email-text{
  font-size: 17px;
  font-weight: 400;
  color: gray;
}

.cropped-image {

  margin-bottom: 1rem;
  border-radius: 13px;
  object-fit: cover;
}
