@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');


.container {
  display: flex;
  align-items: center; /* Centra verticalmente */
  justify-content: center; /* Centra orizzontalmente */
  height: 100%;
  margin: 0;
  padding: 0;
}

.sidebar-container {

  display: flex;
  width: 13.5%; /* 1/4 dello schermo */
  height: 100%;
  gap: 2rem;
  text-align: center;
  align-items: center; /* Centra verticalmente */
  font-family: 'Poppins', sans-serif;
}

.main-view-container {
  flex-direction: column;
  align-items: center; /* Centra verticalmente */
  justify-content: center; /* Centra orizzontalmente */
  border-radius: 27px;
  display: flex;
  background-color: #ffffff; /* Colore di esempio */
  width: 85%; /* 3/4 dello schermo */
  height: 95vh;
}

